.custom-navbar {
  background-color: #80917d; /* Set your desired background color */
  color: #312a1dfe; /* Set the text color for the navbar */
  border-radius: 8px;
  border: 1.5px solid #aeba8a;
}

.custom-navbar .nav-link:hover {
  color: #9c5624; /* Set the hover color for links */
}
